/* Write your CSS here */
body {
  overflow-x: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#fff1eb, #ace0f9);
  font-family: 'Bree Serif';
  /* padding: 40px 0px; */
}
.search {
  background-color: transparent;
  border: 0px solid #7b8794;
  border-radius: 5px;
  width: 95%;
  height: 35px;
  outline: none;
}
.tabList-container {
  padding: 0;
  display: flex;
  list-style: none;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #7b8794;
  border-radius: 5px;
  width: 30%;
}

.search-box img {
  width: 25px;
  height: 25px;
}
.tabList-container li {
  cursor: pointer;
  border-bottom: 3px solid #7b8794;
  color: #7b8794;
  padding: 0px 15px;
}
.app-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 50%;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}
.app-container li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
}
.app-container li img {
  width: 75%;
}
.app-container li p {
  margin-bottom: 0px;
}
.active {
  color: #2563eb !important;
  border-color: #2563eb !important;
}
.active button {
  color: #2563eb !important;
  border-color: #2563eb !important;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #7b8794;
  font-family: 'Bree Serif';
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
}
